body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  user-select: none;
}

body {
  font-family: helvetica;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: white;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 15px;
}
/* Toggle button */

.navbar_toggle {
  margin-left: 5%;
  font-size: 30px;
  color: #ffffff;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  display: none;
}

.logo {
  margin-left: 5%;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}
.logo_header {
  display: flex;
  margin-left: 2%;
}

.main_nav {
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-around;
  list-style: none;
}
.main_nav li:hover {
 cursor: pointer;
 color: red;
}

.main_nav li {
  display: inline;
  color: #ffffff;
}
.main_nav li a {
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
  }

  .main_nav {
    display: none;
  }

  .show_nav {
    padding-top: 2%;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main_nav li {
    width: 100%;
    height: 50px;
    font-size: 25px;
 
    padding: 0%;
  }
  .navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }
  .logo_header {
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
  }
}

.section {
  background-image: url("./../images/home.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  z-index: -1;
  opacity: 0.9;

}
.section .container {
  color: white;
  padding: 40px;
}
.container h1 {
  font-size: 40px;
}
.container p {
  margin-top: 30px;
  font-size: 20px;
}
.container a {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 40px;
  background-color: aliceblue;
}
.hero {
  /* background-image: ;
    background-size: cover;
    background-position: center; */
  text-align: center;
  padding: 50px 30px;
  display: flex;
}
.hero-1 {
  padding: 20px 10px;
  width: 50%;
}
.hero-1 h1 {
  font-size: 40px;
  margin-top: 10px;
}
.hero-1 h4 {
  font-size: 20px;
  margin-top: 30px;
}

.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 40px;
  background-color: aliceblue;
}

.services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.services h2 {
  padding: 20px;
  border-bottom: 1px solid white;
}
.services .service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  background-color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 20px;
  transition: transform 0.5s;
}
.card:hover {
   transform: scale(1.2);
cursor: pointer;
}

.card p {
  margin-top: 10px;
}
.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
.about h2 {
  padding: 20px;
  border-bottom: 1px solid white;
}
.about p {
  margin: 30px;
}
.contact {
  display: flex;
  margin: 30px 100px;
  gap: 150px;
  padding: 50px 50px;
  border-radius: 20px;
  background-color: lightgrey;
  color: black;
}
.contact p {
  margin-top: 20px;
}
.contact button {
  border: none;
  padding: 20px 40px;
  border-radius: 40px;
  cursor: pointer;
  background-color: #24243e;
  color: white;
}
.footer-container {
  background-color: black;
}
.footer {
  margin: 20px 20px 0 20px;
  color: #fff;
  padding: 20px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-column a{
    text-decoration: none;
    color: white;
}
.footer-column li{
 margin-top: 20px;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .hero {
    padding: 10px 0;
    flex-direction: column;
  }
  .hero-1 {
    padding: 20px 10px;
    width: 95%;
  }
  .section {
    height: 80vh;
  }
  .container h1 {
    font-size: 30px;
  }
  .container p {
    margin-top: 20px;
    font-size: 15px;
  }

  .services .service {
    width: 80%;
    margin: 20px auto;
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
  .button {
    align-items: center;
    margin: 20px;
  }

  .about {
    padding: 40px 0;
  }
  .contact {
    flex-direction: column;
    margin: 20px;
    padding: 30px 30px;
    gap: 30px;
  }
  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    flex: 1;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
